contexttimer
decord
diffusers<=0.16.0
einops>=0.4.1
fairscale==0.4.4
ftfy
huggingface-hub==0.19.4
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
python-magic-bin==0.4.14
numpy<2
scikit-image
sentencepiece
spacy
streamlit
timm==0.4.12
tqdm
transformers==4.33.2
webdataset
wheel
soundfile
moviepy==1.0.3
nltk
peft==0.5.0

easydict==1.9
pyyaml_env_tag==0.1
open3d==0.19.0
h5py
